{% extends "layout.html" %}

{% block content %}
  <h1>Vincular Projeto ao Mapa Cultural</h1>
  <br><br>
  <form action="/vincular" method="post">
    <div class="form-group">
      <label for="projeto">Escolha o projeto</label>
      <select name="projeto" id="projeto" class="form-control select2" size="10">
        {% for projeto in projetos %}
          {% if projeto['mapa'] %}
            <option value="{{ projeto['_id'] }}" data-mapa="{{ projeto['mapa'] or '' }}">{{ projeto['nome'] }} - {{ projeto['mapa'] }}</option>
          {% else %}
            <option value="{{ projeto['_id'] }}" data-mapa="{{ projeto['mapa'] or '' }}">{{ projeto['nome'] }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>

    <div id="existingMap" style="display:none;">
      <b>Mapa cultural existente:</b> <span id="existingMapLink" class="mb-3"></span>
      <button id="editMapBtn" class="btn btn-danger">Editar</button>
    </div>

    <div class="form-group mt-3">
      <label for="link_mapa">Link do Mapa Cultural</label>
      <input type="text" name="link_mapa" id="link_mapa" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary mt-2">Vincular</button>
  </form>
  <br><br><br><br>
<script>
  $(document).ready(function() {
    $('.select2').select2();

    $('#projeto').on('change', function() {
      const selectedProjeto = $(this).find('option:selected');
      const mapa = selectedProjeto.data('mapa');

      if(mapa) {
        $('#existingMapLink').text(mapa);
        $('#existingMap').show();
      } else {
        $('#existingMap').hide();
      }
    });

    $('#editMapBtn').on('click', function(event) {
      event.preventDefault();  // Adicionado para evitar o comportamento padrão de recarregar a página
      const existingMapLink = $('#existingMapLink').text();
      $('#link_mapa').val(existingMapLink);
    });
  });
</script>
    {% if current_user.is_authenticated %}
      <div style="position: fixed; bottom: 10px; right: 10px;">
        <!-- Adicionando o botão Vincular Mapa -->
        <a href="{{ url_for('index') }}" class="btn btn-primary">
          Lista de Projetos
        </a>
      </div>
    {% endif %}
{% endblock %}
